<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--<property name="connection.url">jdbc:mysql://192.168.146.133:3306/eventplaner?useSSL=false&amp;serverTimezone=UTC&amp;createDatabaseIfNotExist=true&amp;useUnicode=yes&amp;characterEncoding=UTF-8</property>-->
        <!--<property name="hibernate.connection.driver_class"></property>-->
        <property name="connection.url">jdbc:sqlite:src/main/resources/database.db</property>
        <property name="connection.username">testwu</property>
        <property name="connection.password">rootpw</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="connection.pool_size">10</property>
        <!--<property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
        <property name="show_sql">false</property>
        <property name="current_session_context_class">thread</property>
    </session-factory>
</hibernate-configuration>