<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Eventplaner</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
</div>

<!---
<div th:fragment="commentTree (commentSystem)" xmlns:th="http://www.w3.org/1999/xhtml" th:each="comment :${commentSystem.comments}">
    <div>
        <td th:text="${comment.comment}"></td>
        <td th:text="${comment.subCommentSystem}"></td>
    </div>
    <div class ="" th:insert="fragments.html :: commentTree(commentSystem=${comment.subCommentSystem})"></div>
</div>


-->


<div th:fragment="commentTree (commentSystem)" xmlns:th="http://www.w3.org/1999/xhtml" th:each="comment :${commentSystem.comments}" class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title" th:text="${comment.author}">Card Title</span>
                <p th:text="${comment.comment}"></p>

                <div class ="" th:replace="fragments.html :: commentTree(commentSystem=${comment.subCommentSystem})"></div>

            </div>
            <!--<div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>-->
        </div>
    </div>
</div>

























<!--
<table>
    <tr>
        <td>comment</td>
        <td>com.eventplaner.model.CommentSystem@70d5532f</td>
    </tr>
    <tr>
        <table>
            <tr>
                <td>subcomment</td>
                <td>com.eventplaner.model.CommentSystem@5fa994f0</td>
            </tr>
            <tr>
                <table>
                    <tr>
                        <td>subsubcomment</td>
                        <td>com.eventplaner.model.CommentSystem@13fe1bb1</td>
                    </tr>
                    <tr>
                        <table>
                            <tr>
                                <td>subsubsubcomment</td>
                                <td>com.eventplaner.model.CommentSystem@620170ea</td>
                            </tr>
                        <tr></tr>
                        </table>
                    </tr>
                </table>
            </tr>
        </table>
    </tr>
</table>-->