<div th:fragment="header (loggedIn)" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="blue">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Eventplaner</a>

            <span th:switch="${loggedIn}">
                <ul id="nav-mobile" class="right hide-on-med-and-down" th:case="false">
                    <li ><a href="/login" class="btn-large waves-effect waves-light blue lighten-1">Log In</a></li>
                    <li><a href="/signup" class="btn-large waves-effect waves-light green lighten-1">Sign Up</a></li>

                </ul>

                <ul id="nav-mobile-loggedin" class="right hide-on-med-and-down" th:case="true">
                    <li><a href="/logout" class="btn-large waves-effect waves-light green lighten-1">Log out</a></li>
                </ul>
            </span>

        </div>
    </nav>
</div>

<!---
<div th:fragment="commentTree (commentSystem)" xmlns:th="http://www.w3.org/1999/xhtml" th:each="comment :${commentSystem.comments}">
    <div>
        <td th:text="${comment.comment}"></td>
        <td th:text="${comment.subCommentSystem}"></td>
    </div>
    <div class ="" th:insert="fragments.html :: commentTree(commentSystem=${comment.subCommentSystem})"></div>
</div>


-->


<ul th:fragment="commentTree (commentSystem)" xmlns:th="http://www.w3.org/1999/xhtml" th:each="comment :${commentSystem.comments}" class="collection commenta">
    <li class="collection-item" >
        <span class="title" th:text="${comment.author.username}">email</span>
        <p th:text="${comment.comment}">comment</p>
    </li>
    <li class="subcomments" th:insert="fragments.html :: commentTree(commentSystem=${comment.subCommentSystem})"></li>
</ul>