<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript">
		
    </script>
</head>
<body>



    <div class="container">
        <div th:replace="fragments.html :: header(loggedIn=${loggedIn})"></div>

        <h1 th:text="${poll.name}"> </h1>

        <div th:text="${poll.description}"></div>

        <br>
        <div class="divider"></div>

        <div class="col s12 m2">


            <h3>Termine</h3>
            <div class="" th:each="pollTopic: ${poll.pollTopics}">
                <p>
                    <label>
                        <input type="checkbox" id="${pollTopic.id}" class="topic"/>
                        <span th:text="${pollTopic.description}"></span>
                    </label>
                </p>
            </div>
            <div id="topic_messages"></div>
            <a href="#" class="btn-large waves-effect waves-light green lighten-1" onclick="f1()">Send</a>

            <script>
                function f1(){
                    a = document.getElementsByClassName("topic");
                    //alert(a.length);

                    /*array1.forEach(function(element) {
                        console.log(element);
                    });*/
                    for(i = 0; i < a.length; i++){
                        if(a.item(i).checked){
                            $.post( "/poll/voteForTopic", { name: "John"}, function( data ) {
                                if(typeof data === 'boolean'){
                                    if(data){
                                        $("#topic_messages").html("<div class=\"card-panel green lighten-1\">Saved Successfully</div>");
                                    }else{
                                        $("#topic_messages").html("<div class=\"card-panel red lighten-1\">Error</div>");
                                    }
                                }else{
                                    window.location.replace("/login");
                                }
                                //$( ".result" ).html( data );

                            });
                            //alert("seas");
                        }
                    }
                    /*
                    a.forEach(function (t) {
                        //if(t.value == ))
                        alert(t.value());
                    });*/
                }
            </script>
        </div>

        <br>
        <div class="divider"></div>
        <h3>Comments</h3>


        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s11">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Schreib ein Kommentar ...</label>
                    </div>
                    <div class="input-field col s1">
                        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">send</i></a>
                    </div>
                </div>
            </form>
        </div>


        <div th:replace="fragments.html :: commentTree(commentSystem=${poll.commentSystem})"></div>
    </div>

</body>
</html>

